@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-ios:
    -apple-system, SF Pro Text, SF UI Text, system-ui, Helvetica Neue,
    Helvetica, Arial, sans-serif;
  --font-material: Roboto, system-ui, Noto, Helvetica, Arial, sans-serif;
  --text-2xs: 0.625rem;

  --transition-ios-range-thumb:
    transform, translate, scale, opacity, rotate, background-color, box-shadow;
  --shadow-ios-toggle:
    0 0.5px 4px rgba(0, 0, 0, 0.12), 0 6px 13px rgba(0, 0, 0, 0.12);
  /* prettier-ignore */
  --shadow-ios-light-glass-thumb:
    inset -3px -3px 0px -3.5px rgba(255, 255, 255, 1),
    inset 3px 3px 0px -3.5px rgba(255, 255, 255, 1),
    inset 0px 0px 0px 0.5px rgba(255, 255, 255, 0.5),
    inset 3px 3px 10px -2px #eee,
    inset -3px -3px 10px -2px #eee,
    inset 0 0 5px 1px #fff;

  /* prettier-ignore */
  --shadow-ios-dark-glass-thumb:
    inset 3px 3px 0px -3.5px rgba(255, 255, 255, 1),
    inset -3px -3px 0px -3.5px rgba(255, 255, 255, 1),
    inset -0.5px -0.5px 0px rgba(255, 255, 255, 0.5),
    inset 0.5px 0.5px 0px rgba(255, 255, 255, 0.1),
    inset -3px 3px 0px -3.5px rgba(255, 255, 255, 0.25),
    inset 0px -5px 0px -3.5px rgba(255, 255, 255, 0.25),
    inset 0px -5px 5px rgba(255, 255, 255, 0.25);

  /* prettier-ignore */
  --shadow-ios-light-glass-fab:
    inset -3px -3px 0px -3.5px #fff,
    inset 3px 3px 0px -3.5px #fff,
    inset 0px 0px 0px 0.5px rgba(255, 255, 255, 0.5),
    inset 3px 3px 10px -2px color-mix(in oklab, var(--color-primary) 100%, black),
    inset -3px -3px 10px -2px color-mix(in oklab, var(--color-primary) 100%, black),
    inset 0 0 5px 1px #fff,
    0 0 15px 4px rgba(0, 0, 0, 0.2);

  /* prettier-ignore */
  --shadow-ios-dark-glass-fab:
    inset 3px 3px 0px -3.5px var(--color-primary),
    inset -3px -3px 0px -3.5px var(--color-primary),
    inset -0.5px -0.5px 0px rgba(255, 255, 255, 0.5),
    inset 0.5px 0.5px 0px rgba(255, 255, 255, 0.1),
    inset -3px 3px 0px -3.5px rgba(255, 255, 255, 0.25),
    inset 0px -5px 0px -3.5px color-mix(in oklab, var(--color-primary) 50%, transparent 10%),
    inset 0px -5px 5px color-mix(in oklab, var(--color-primary) 50%, transparent 10%),
    0 0 15px 4px rgba(0, 0, 0, 0.2);
  /* prettier-ignore */
  --shadow-ios-light-glass:
    inset -1.5px -1.5px 0px -0.5px rgba(255, 255, 255, 1),
    inset 1.5px 1.5px 0px -0.5px rgba(255, 255, 255, 1),
    inset 3px 3px 10px -2px #ccc,
    inset -3px -3px 10px -2px #ccc,
    inset 0 0 5px 1px #fff,
    inset 0 0 0 1px rgba(0, 0, 0, 0.5),
    inset 0 0 24px 0 rgba(0, 0, 0, 0.1),
    0 0 25px 0 rgba(0, 0, 0, 0.2);
  /* prettier-ignore */
  --shadow-ios-dark-glass:
    inset -2px -2px 0.5px -2.5px rgba(255, 255, 255, 0.4),
    inset 3px 3px 0.5px -3.5px rgba(255, 255, 255, 0.4),
    inset 2px 2px 0.5px -2px #262626,
    inset -2px -2px 0.5px -2px #262626,
    inset 0 0 5px 1px #141414,
    inset 0 0 0 1px rgba(255, 255, 255, 0.15),
    inset 0 0 10px 0 rgba(255, 255, 255, 0.075),
    inset 0 0 24px 0 rgba(255, 255, 255, 0.05),
    0 0 25px 0 rgba(0, 0, 0, 0.15);

  --ease-material-in: cubic-bezier(0, 0.8, 0.34, 1);
  --ease-material-in-popup: cubic-bezier(0, 1, 0.2, 1);
  --transition-transform-opacity: transform, translate, scale, opacity, rotate;
}
:root {
  --k-device-pixel-ratio: 1;
  --k-hairline-color: rgba(0, 0, 0, 0.2);
  --k-rtl-reverse: 1;
}

[dir='rtl'] {
  --k-rtl-reverse: -1;
}

.dark {
  background-color: #000;
  color: #fff;
  --k-hairline-color: rgba(255, 255, 255, 0.15);
}

@media (min-resolution: 1.25dppx) {
  :root {
    --k-device-pixel-ratio: 1.25;
  }
}
@media (min-resolution: 1.5dppx) {
  :root {
    --k-device-pixel-ratio: 1.5;
  }
}
@media (min-resolution: 1.75dppx) {
  :root {
    --k-device-pixel-ratio: 1.75;
  }
}
@media (min-resolution: 2dppx) {
  :root {
    --k-device-pixel-ratio: 2;
  }
}
@media (min-resolution: 2.25dppx) {
  :root {
    --k-device-pixel-ratio: 2.25;
  }
}
@media (min-resolution: 2.5dppx) {
  :root {
    --k-device-pixel-ratio: 2.5;
  }
}
@media (min-resolution: 3dppx) {
  :root {
    --k-device-pixel-ratio: 3;
  }
}
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: 100%;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.k-ios,
.ios {
  @apply font-ios;
}
.k-material,
.md {
  @apply font-material;
}
