* {
  /* -webkit-tap-highlight-color: rgba(0, 0, 0, 0); */
  /* -webkit-touch-callout: none; */
}
body {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: 100%;
}
.ios {
  font-family: -apple-system, SF Pro Text, SF UI Text, system-ui, Helvetica Neue,
    Helvetica, Arial, sans-serif;
}
.material {
  font-family: Roboto, system-ui, Noto, Helvetica, Arial, sans-serif;
}
